<div style="width: 200px; height: 200px;">
    <ng-scrollbar>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, odio accusamus beatae exercitationem ea repudiandae perspiciatis tempore mollitia eius doloribus earum quo quidem atque! Labore officia quasi nam eum in!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident dignissimos error repellat, animi in amet iste odit nostrum quisquam accusantium voluptatem ut aspernatur officiis, sint voluptates. Vero odit quaerat magni.
    </ng-scrollbar>
</div>

<router-outlet></router-outlet>